body {
    font-family: Arial;
    background: url("../static/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
body {
    font-family: Arial;
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    padding: 25px;
    border-radius: 15px;

    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);

    animation: floatIn 1s ease;
}

@keyframes floatIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

input {
    width: 70%;
    padding: 8px;
}

button {
    background: #00b894;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    background: #019875;
    transform: scale(1.1);
}
li {
    padding: 10px;
    margin: 8px 0;
    background: rgba(255,255,255,0.3);
    border-radius: 8px;
    transition: 0.3s;
}

li:hover {
    transform: translateX(10px);
    background: rgba(255,255,255,0.6);
}

a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.2s;
}

a:hover {
    transform: scale(1.3);
}
.done {
    text-decoration: line-through;
    color: gray;
}
.logo {
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}
.bg-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    object-fit: cover;
}
.bg-img {
    transition: transform 0.5s;
}

.bg-img:hover {
    transform: scale(1.05);
}
body {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body.dark {
    background-color: #121212;
    color: white;
}

body.dark .container {
    background-color: #1e1e1e;
}

#darkBtn {
    padding: 8px 12px;
    margin-bottom: 10px;
    cursor: pointer;
}
.task.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: 0.5s;
}
.task {
    padding: 10px;
    margin: 5px 0;
    background: #f1f1f1;
    cursor: grab;
}